<h1>Edit Scheduled Tweet</h1>

<%= render "form", tweet: @tweet %>

<% if @tweet.persisted? %>
	<%= button_to "Delete", @tweet, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger mt-3" %>
<% end %>

